.breadcrumb-wrap
  padding: 30px 0 20px
  background-color: $white
  border-bottom: 1px solid $theme_light_grey
  font-weight: 600
  text-decoration: none

  .woocommerce-breadcrumb
    margin: 0
    color: $theme_primary
    font-size: 14px

  a
    color: $theme_primary!important //Override .woocomerce style
    font-weight: 600
    text-decoration: none

    &:hover,&:active,&:focus,&:visited
      text-decoration: underline