.default-text-section

  padding-top: 40px
  padding-bottom: 40px
  line-height: 2em

  aside
    & > div
      padding: 10px 15px
      background-color: $theme_light_grey

    h3
      line-height: 2em
      margin-bottom: 0

  h1, h2, h3
    padding-bottom : 20px

  blockquote
    border-left: 3px solid $theme_primary
    margin: 20px 0
    padding: 0 10px
    font-size: 16px

  a
    color: $theme_primary
