footer.footer
  padding-top: 40px
  padding-bottom: 40px
  background-color: $theme_dark;
  color: $white

  a
    color: $white
    text-decoration: none

    &:hover, &:active, &:visited, &:focus
      color: $white

  ul
    list-style : none
    margin-left: 0
    padding-left: 0

    .children, .sub-menu
      display: none

    li
      list-style : none





.copyright
  border-top: 1px solid $white
  background-color: $theme_dark;
  color: $white
  padding: 20px 0
  text-align: right
