.products-section
	padding: 20px 0 40px

	.shop-header
		padding-bottom: 20px

		.page-title
			padding-bottom : 20px

		.product-ordering
			text-align: right

	ul.products
		padding-left:0
		list-style: none

		li.product-item
			display : block
			margin-bottom: 40px


.woocommerce 

	ul.products

		li.product
			padding: 20px
			background-color: $theme_light_grey
			line-height: normal

			a
				text-decoration : none
				color: $theme_primary

				img
					margin: 0 auto
					max-width: 100%
					height: auto
					padding-bottom: 20px

				h3
					padding-bottom: 10px
					font-size: 1.4em

			a.button
				float: right
				margin-top: 0
				margin-bottom: 0
				padding: 0
				font-weight: 400
				font-size: 14px
				line-height: normal

				&:hover 
					background: none
					text-decoration: underline

			span.price
				display: inline;
				color: $theme_primary
				font-size: 14px
				line-height: normal