.top-bar
  background-color: $theme_dark;

  form
    float: right
    margin-right: -15px
    .search-input-container
      width : auto
      max-width : 0
      overflow : hidden

      input.search-input
        border : none
        -webkit-border-radius: 0
        -moz-border-radius: 0
        border-radius: 0
        -webkit-box-shadow: none
        -moz-box-shadow: none
        box-shadow: none

    button
      border-radius : 0
      background-color: $theme_dark
      color: $white
      border: none

      &:hover,&:active,&:focus,&:visited
        background-color: $theme_dark
        color: $white
        border: none

